<nav>
  <div>
    <a routerLink="/">Home</a>
  </div>
  <div>
    <a routerLink="/profile">Profile</a>
  </div>
  <div>
    <a routerLink="/settings">Settings</a>
  </div>
  <div>
    <a routerLink="/workers">Workers</a>
  </div>
</nav>
<label> Permission:
  <input type="radio" id="user" name="permission" value="user" (change)="setService()" [(ngModel)]="radio"> User
  <input type="radio" id="admin" name="permission" value="admin" (change)="setService()" [(ngModel)]="radio"> Admin
</label>
<p>{{radio}}</p>
<router-outlet></router-outlet>
