<div style = "
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    background-color: coral;
">
<div style="justify-content:center;">
<a routerLink="apple">Apple</a>
<button mat-raised-button color= "warn" style= "margin-left: 20pt;" (click)= "onApple()">Show pieces</button>
</div>
<br>
<div style="justify-content:center;">
<a routerLink="pear">Pear</a>
<button mat-raised-button color= "warn" style= "margin-left: 20pt;" (click)= "onPear()">Show pieces</button>
</div>
<br>
<div style="justify-content:center;  align-self:center;">
<a routerLink="peach">Peach</a>
<button mat-raised-button color= "warn" style="margin-left: 20pt;" (click)= "onPeach()">Show pieces</button>
</div>
</div>